윈드우폭:940
윈드우 높이:840
묘화 인터페이스:TEXTRENDERER
프레임 매초:7
PRINTC를 늘어놓는 수:4
PRINTC의 문자수:25
폰트명:나눔바른고딕
font size:16
일행의 높이:17
표시하는 최저 경고 레벨:0
문자색:192, 192, 192
키 경치:0, 0, 0
선택중 문자색:255, 255, 0
이력 문자색:192, 192, 192
세이브 데이터를 sav 폴더내에 작성하는:YES
불려 가지 않았던 함수를 무시하는:NO
함수가 발견되지 않는 경고의 취급:DISPLAY
동명의 비이벤트함수가 복수 정의당했다라고 하고 경고하는:YES
로드시에 인수를 해석하는:YES
