;＝표시＝
PRINTC를 늘어놓는 수:4
PRINTC의 문자수:27

;＝폰트＝
폰트명:나눔바른고딕
font size:16
일행의 높이:16
문자색:192, 192, 192
키 경치:0, 0, 0
선택중 문자색:255, 255, 0
이력 문자색:192, 192, 192

;＝시스템＝
대문자 소문자의 차이를 무시하는:YES
_Rename.csv를 이용하는:NO
_Replace.csv를 이용하는:YES
버튼의 도중에 행을 때나 먹이 없는:YES
서브 디렉토리를 검색하는:YES
read순서를 파일명순서에 소트 하는:YES
세이브데이터를 UTF-8으로 보존하는:YES

;＝호환성＝
유저 함수의 인수에 자동적으로 TOSTR를 보완하는:YES

;＝해석＝
eramaker 호환성에 관한 경고를 표시하는:NO
