@LAYER_TEST
DRAWLINE
;OriginalString : [ 0] LAYER HTMLサンプル      <font color='0xFF0000' face = 'ＭＳ ゴシック'>文章本文</font># の形式
PRINTFORML [ 0] LAYER HTML샘플      <font color='0xFF0000' face = 'ＭＳ 고딕'>문장 본문</font># 의 형식
;OriginalString : [-1] 終了
PRINTFORML [-1] 종료
INPUT
SELECTCASE RESULT
	CASE 0
		CALL LAYER_TEST_HTML
	CASE -1
		RETURN
ENDSELECT
RESTART

@LAYER_TEST_HTML
X:0 = 18
Y:0 =  9

X:1 = 32
Y:1 =  9

X:2 = 46
Y:2 =  9

X:3 = 4
Y:3 = 2

LOCALS:0 = <font face='나눔바른고딕' color='#C06060'>【HTML】</font>
LOCALS:1 = <font face='나눔명조' color='#60C060'>【HTML】</font>
LOCALS:2 = <font face='HG행서체' color='#6060C0'>【HTML】</font>
LOCALS:4 =
LOCAL = 0
LOCAL:1 = LINECOUNT
LOCAL:2 = 0
DO
REDRAW 0

Z:2 = GETMILLISECOND()
	;반각 10 스케일
	FOR COUNT, 0, 56*2
;OriginalString : \@ COUNT%10 == 0 ? * # _ \@
		PRINTFORM \@ COUNT%10 == 0 ? * # _ \@
	NEXT
;	PRINTL 
	;반각 1 스케일
	FOR COUNT, 0, 56*2
;OriginalString : {COUNT%10,1}
		PRINTFORM {COUNT%10,1}
	NEXT
;OriginalString : 
	PRINTL 
;	;전각 스케일
;	FOR COUNT, 0, 56
;		PRINTFORM {COUNT, 2}
;	NEXT
;	PRINTL 



; 초기화(단락 문자를"#"에)
CALL LAYER_INIT("`")

; 큰 범위

CALL LAYER_SET(@"┏%"━"*54%┓",0,0)
FOR COUNT, 1,39
	CALL LAYER_SET(@"┃`<button value='P'>%"  "*54%</button>`┃",COUNT,0)
NEXT
CALL LAYER_SET(@"<button value='P'><I>전화면 버튼</I></button>",19,50)
CALL LAYER_SET(@"┗%"━"*54%┛",39,0)

; 정보 화면

CALL LAYER_SET(@"┏━━━━━┓",Y:3 + 0,X:3)
CALL LAYER_SET(@"┃`%HTML_SETTAG( LOCALS:LOCAL , @"선택NO.{LOCAL}  " )%`┃",Y:3 + 1,X:3)
CALL LAYER_SET(@"┃ X:{X:LOCAL,2} Y:{Y:LOCAL,2}┃",Y:3 + 2,X:3)
CALL LAYER_SET(@"┃묘화 속도  ┃",Y:3 + 3,X:3)
CALL LAYER_SET(@"┃%@"{Z:1}",7%/ms┃",Y:3 + 4,X:3)
CALL LAYER_SET(@"┃루프 속도┃",Y:3 + 5,X:3)
CALL LAYER_SET(@"┃`%LAYER_CBAR(LOCAL:2,10,10,UNICODE(0x2584),UNICODE(0x2584),0xFFFF00,0x606060)%`┃",Y:3 + 6,X:3)
CALL LAYER_SET(@"┃%@"{Z:3}",7%/ms┃",Y:3 + 7,X:3)
CALL LAYER_SET(@"┃TINPUT 속도┃",Y:3 + 8,X:3)
CALL LAYER_SET(@"┃%@"{Z:5}",7%/ms┃",Y:3 + 9,X:3)
CALL LAYER_SET(@"┃차이        ┃",Y:3 + 10,X:3)
CALL LAYER_SET(@"┃%@"{Z:3-Z:5}",7%/ms┃",Y:3 + 11,X:3)
CALL LAYER_SET(@"┗━━━━━┛",Y:3 + 12,X:3)


; 레이어 0
CALL LAYER_SET(@"┏━━━━━┓",Y:0 + 0,X:0)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:0,"아이우에오")%`┃",Y:0 + 1,X:0)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:0,"감와")%`┃",Y:0 + 2,X:0)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:0,"사시스세소")%`┃",Y:0 + 3,X:0)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:0,"들연줄과")%`┃",Y:0 + 4,X:0)
CALL LAYER_SET(@"┗━━━━━┛",Y:0 + 5,X:0)


; 레이어 1
CALL LAYER_SET(@"┏━━━━━┓",Y:1 + 0,X:1)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:1,"군요의")%`┃",Y:1 + 1,X:1)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:1,"는 히")%`┃",Y:1 + 2,X:1)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:1,"째도")%`┃",Y:1 + 3,X:1)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:1,"나    야")%`┃",Y:1 + 4,X:1)
CALL LAYER_SET(@"┗━━━━━┛",Y:1 + 5,X:1)


; 레이어 2
CALL LAYER_SET(@"┏━━━━━┓",Y:2 + 0,X:2)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:2,"")%`┃",Y:2 + 1,X:2)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:2,"원  를  응")%`┃",Y:2 + 2,X:2)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:2,"12345")%`┃",Y:2 + 3,X:2)
CALL LAYER_SET(@"┃`%HTML_SETTAG(LOCALS:2,"67890")%`┃",Y:2 + 4,X:2)
CALL LAYER_SET(@"┗━━━━━┛",Y:2 + 5,X:2)

CALL LAYER_SET(@"8426으로 이동, 0으로대상변경, -로 뽑아라", 39,  70)

Z = GETMILLISECOND()
CALL LAYER_PRINT(,40)
Z:1 = GETMILLISECOND() - Z

Z:4 = GETMILLISECOND()
TONEINPUTS 100,"",0
;ONEINPUTS
Z:5 = GETMILLISECOND() - Z:4
Z:6 = 100 - Z:5
CLEARLINE 1
;SIF Z:5 < 100
;	TWAIT (Z:6), 1
SELECTCASE RESULTS
	CASE "8"
		SIF Y:LOCAL > 1
			Y:LOCAL -= 1
	CASE "6"
		SIF X:LOCAL < 96
			X:LOCAL += 2
	CASE "4"
		SIF X:LOCAL >= 4
			X:LOCAL -= 2
	CASE "2"
		SIF Y:LOCAL < 33
			Y:LOCAL += 1
	CASE "0"
		LOCAL += 1
		SIF LOCAL > 2
			LOCAL = 0
	CASE "P"
		; 전화면 버튼 테스트
		CALL FLASHTEST
	CASE "-"
		RETURN
ENDSELECT
$DO_LOOP
CLEARLINE LINECOUNT - LOCAL:1
LOCAL:2 = LOCAL:2 == 10 ? 0 # LOCAL:2 +1
Z:3 = GETMILLISECOND() - Z:2
LOOP 1





@FLASHTEST
FOR COUNT,0,200
	SETBGCOLOR GETDEFBGCOLOR() 
	IF COUNT % 100 == 0
		SETBGCOLOR 0x606060
		TWAIT 100,1
	ENDIF
NEXT
SETBGCOLOR GETDEFBGCOLOR() 
